/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* CSS - RESET */

body, div, a, p, h1, h2, ul, li, blockquote, input {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", Georgia, serif; /* Fonte 2 de 2 - Chamamos aqui a fonte, se o sistema do cara não tiver Volkorn, carregaremos georgia, se não tiver também, usaremos qualquer serifada que ele tiver instalada no sistema dele. */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

/* CSS GRID (USING FLEXBOX) */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* Styling */

.tip-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;

  flex-wrap: wrap;
}

/* .tip-group:last-of-type {
  padding-top: 0px;
} */

.tip-container .tip-subgroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip-container .tip-subgroup .first-tip-text {
  left: -65px;
  top: -18px
}

.person-icon {
  position: absolute;
  top: 15px;
  left: 17px;
}

.dollar-icon {
  position: absolute;
  top: 22px;
  left: 19px;
}